{% extends "main/base.html" %}
{% block title %} Shivtirth Enquiry {% endblock %}
{% block content %}
{% load static %}
    <body>
        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Submitted!</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">###</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
        <!--================ About History Area  =================-->
        <section class="about_history_area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d_flex align-items-center">
                        <div class="about_content ">
                            <h2 class="title title_color">Enquiry Submitted</h2>
                            <p><b>YOUR ENQUIRY HAS BEEN SUBMITTED SUCCESSFULLY AND YOU WILL RECIEVED A RESPONSE WITHIN 12 HOURS.</b></p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        <!--================ About History Area  =================-->
<hr> <br>   
{% endblock %}
    </body>
</html>
